* {
  box-sizing: border-box;
}

:root {
  /* Browns */
  --toasty: #d8a882;
  --foam: #a47d60;
  --mocha: #946440;
  --coldbrew: #693f31;
  --espresso: #333230;
  /* Pinks */
  --oyster: #eac3bf;
  --pinkvelvet: #e77d77;
  --rusticpink: #9f5448;
  --truffle: #5a3735;
  /* Golds */
  --golden: #99783f;
  --goldenrod: #bd7e0f;
  --sandygold: #c59458;
  --lightgold: #dcbaba;
  --background: #f3ede0;
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.nav-header {
  

  /* border: dotted green 5px; 
  /* height: 4rem; */
  align-items: center;
  
}
header img {
  margin-top: 3%;
}
.navbar-container {
  display: flex;
  gap: 50px;
  
  position: sticky;
  top: 0;
  width: 100vw;
  /* Change color later */
  background-color: white;
  margin: 0;
  padding: 0 20px;
  left: 0;
  box-shadow: 0px -15px 30px 20px var(--lightgold);
  height: 8rem;
  z-index: 9999;
}
/* Header */



/* Start of Navbar */



.fa-magnifying-glass {
  color: black;
}

/* Navigation Styling */
.nav-links{
    display: none;
  }

.primary-navigation ul {
  display: flex;
  list-style: none;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.primary-navigation a {
  color: brown;
  font-weight: bold;
  text-decoration: none;
} 

/********************************************************** Nav drop down bar  *****************************************************/

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10000;
}

/* .dropdown-content-2 {
  position: relative;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1001;
} */

.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
 
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block
}

/********************************************************** End of Nav drop down bar  *****************************************************/

img {
  width: 250px;
}
/********************************************************** Footer Styling *****************************************************/
.footer-wrapper {
  position: relative;
  bottom: 0;
}
footer {
  /* margin: 0;
    padding: 0; */
  /* position: absolute;
    bottom: 0; */
  width: 100%;
  /* height: 10rem; */
  box-shadow: 15px 0px 30px 0px var(--lightgold);
  /* border: solid yellow; */
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

footer img {
  height: 100%;
}

.social-links {
  align-self: center;

  /* border: solid yellow; */
}

.footer-links {
  align-self: center;
  /* border: solid yellow; */
  text-align: center;
}

.footer-links ul {
  width: 100%;
  display: inline;
  padding: 0%;
}

/* .footer-links {
    border: #333230 solid 3px;
   
    display: inline-block;
    text-align: left;
   
  } */

/* .footer-links, .social-links{
  
  } */

.footer-links a:link,
.social-links a:link {
  list-style-type: none;
  text-decoration: none;
}

a:visited {
  color: var(--pinkvelvet);
}

a:hover {
  color: var(--coldbrew);
}

a:active {
  color: var(--lightgold);
  text-decoration: underline;
  background-color: var(--lightgold) 20px;
}
/* Content */
/* --------------------------------------CARDS -------------------------------------- */
.card-wrapper {
  display: flex;
  gap: 25px;
flex-wrap: wrap;
  padding: 50px;
}

.card-image {
  height: 280px;
}

.card-content {
  text-align: center;
  border: var(--lightgold) solid 2px;
  width: 386px;
  height: 150px;
}

/* Forms: Login Page, Create Page , Signup Page , Update Page   */

.form-wrapper {
  display: flex;
  justify-content: center;
  height: 700px;
  align-items: center;
}

/* .create-form,
.login-form,
.update-form,
.signup-form {
  padding: 10px;
  width: 400px;
} */

/* .flex-input {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
} */
/* input[type="text"],
input[type="password"] {
  padding: 10px;
  font-size: 18px;
} */

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

label {
  flex-basis: 130px;
}
/* input{
  
} */

button {
  border: none;
  float: right;
}

input[type="button"]:hover {
  color: var(--lightgold);
}

.login-checkbox {
  display: flex;
}

.login-checkbox div {
  flex: 1;
  text-align: right;
}

/* Images */
.preview-image {
  border-radius: 10px;
  width: 100px;
}
/* .login-form, {
   display: flex;
   flex-direction: column;
  justify-content: center;
  
  } */

/* input[type="text"],
  select,
  textarea {
    width: 50%;
    padding: 5px;
    border-radius: 4px;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  } */

/********************************************************** Components *****************************************************/
/* Search */

/* About Page */
.about-container {
  padding: 5px;
  margin: 30px;
}
.about-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10%;
}

.about-blerb {
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}

/* Discovery page */

/* Create Page */

/* -------------------------------------- Media Quires -------------------------------------- */

/* Mobile 320-480*/

@media screen and (max-width: 480px) {
  header {
    justify-content: center;
    gap: 40%;
    flex: 1;
  }

  footer {
    justify-content: center;
  }
  header img,
  .search-bar,
  .primary-navigation,
  .footer-links,
  .footer-logo,
  .product-of {
    display: none;
  }

  .fa-circle-user {
    font-size: 40px;
  }
}

/* Tablets 481-768 */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* nav & footer */
  .fa-bars,
  .nav-logo,
  .search-bar,
  .footer-logo {
    display: none;
  }

  footer {
    flex-direction: column;
  }

  .fa-circle-user {
    font-size: 40px;
  }

  header {
    justify-content: center;
    gap: 20%;
  }
}

/* Desktop 769-1024*/
@media screen and (min-width: 769px) {
  /* nav and footer */
  .fa-bars,
  .fa-magnifying-glass {
    display: none;
  }

  header {
    gap: 5%;
    flex: 1;
  }
  .fa-circle-user {
    font-size: 40px;
  }
}

